/* webapp/css/style.css */

/* Estilos globais */
* {
    font-family: CoolveticaRg-Regular, monospace !important;
}
body {
    background-color: #353c46;
    font-family: Arial, sans-serif;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.navbar-custom {
    background-color: #353c46;
    color: #76ac5f; /* cor do texto */
}
.navbar-custom .nav-link {
    color: #76ac5f;
}
.navbar-custom .nav-link:hover {
    color: #9bd582;
}
.navbar-brand img {
    height: 22px;
    margin-right: 10px;
}
.dropdown-menu a {
    color: #353c46;
}
.dropdown-menu a:hover {
    color: #76ac5f;
}

/* Estilos comuns de formulário */
.form-group input[type="submit"],
.btn-delete,
.rating-section button {
    background-color: #76ac5f;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-group input[type="submit"]:hover,
.btn-delete:hover,
.rating-section button:hover {
    background-color: #76ac5f;
}
body .login-container {
    align-items: center;
}

/* Estilos de login.jsp e registrar.jsp */
.login-container,
.register-container {
    max-width: 500px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login-container h1,
.register-container h1 {
    text-align: center;
    color: #76ac5f;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos de usermanagement.jsp */
.user-management-container {
    padding: 30px;
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 800px;
}
.user-management-container h1 {
    color: #76ac5f;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos de viewmovie.jsp */
.container {
    margin-top: 30px;
}
.movie-details {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.movie-image img {
    width: 100%;
    border-radius: 20px;
}
.movie-info h2,
.rating-section h3 {
    color: #353c46;
}
.rating-section input[type="number"] {
    width: 80px;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #353c46;
    border-radius: 10px;
    text-align: center;
}
.rating-section button {
    padding: 10px 20px;
    background-color: #353c46;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.rating-section button:hover {
    background-color: #76ac5f;
}

@font-face {
    font-family: "CoolveticaRg-Regular";
    src: url("https://db.onlinewebfonts.com/t/5d474fd2ebc6ef77c9bf3219391bed9c.eot");
    src: url("https://db.onlinewebfonts.com/t/5d474fd2ebc6ef77c9bf3219391bed9c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5d474fd2ebc6ef77c9bf3219391bed9c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5d474fd2ebc6ef77c9bf3219391bed9c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5d474fd2ebc6ef77c9bf3219391bed9c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5d474fd2ebc6ef77c9bf3219391bed9c.svg#CoolveticaRg-Regular")format("svg");
}
.btn-submit {
    background-color: #76ac5f;
    color: #ffffff;
    border: 2px solid #76ac5f; /* Borda verde */
    border-radius: 5px; /* Arredondamento da borda */
    padding: 10px 20px; /* Espaçamento interno */
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}
.btn-submit:hover {
    background-color: #9bd582;
    border-color: #9bd582; /* Mudança da cor da borda no hover */
}